certifi==2019.9.11
cffi==1.7.0
chardet==3.0.4
defusedxml==0.6.0
Django==1.9.9
django-allauth==0.27.0
django-bootstrap3==7.0.1
django-braces==1.9.0
django-debug-toolbar==1.5
idna==2.8
misaka==2.0.0
oauthlib==3.1.0
Pillow==6.2.1
pycparser==2.14
python3-openid==3.1.0
requests==2.22.0
requests-oauthlib==1.3.0
sqlparse==0.2.1
urllib3==1.25.7
